body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: white;
  color: black;
  padding: 70px;
  font-family: Sans-Serif;
  text-align: center;
}

label {
  align-content: start;
  font-size: small;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: start;
  color: #000000a9;
  gap: 1px;
}

.fName::before{
  display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 13px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.lName::before{
  display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 13px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.postCode::before{
  display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 13px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.frame-details {
  position: relative;
  top: 50px;
  border: rgba(128, 128, 128, 0.26) 1px solid;
  padding: 70px 40px 40px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  width: 30%;
  background-color: white;
  margin: 0;
  text-align: start;
}

.inner-frame{
   /*display: block;
  margin: 20;
  padding: 50;*/
  flex: 1;
  max-width: 100%;
  margin-right: 0px;
}

.submitButton {
  margin-top: 30px;
  margin-bottom: 10%;
  margin-right: 0;
  width: 80%;
  border: 0;
  line-height: 2.5;
  padding: 0px 20px;
  font-size: 1rem;
  text-align: center;
  align-tracks: flex-end;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 0px;
  background-color: rgb(220, 0, 121);
  background-image: linear-gradient(to top left,
      rgb(0 0 0 / 20%),
      rgb(0 0 0 / 20%) 30%,
      rgb(0 0 0 / 0%));
  
}

.submitButton:hover {
  background-color: rgb(255, 0, 140);
}

.submitButton:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

span {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.input-container {
  width: 100%;
  position: relative;
  bottom: 1px;

  font: rgba(0, 0, 0, 0.644) 1.25rem;
  gap: 0px;
}

.form-input {
  border-radius: 0.25rem;
  border: rgba(128, 128, 128, 0.26) 1px solid;
  font-size: 1.25rem;
  padding-top: 0.5rem;
  
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  color: rgba(0, 0, 0, 0.651);
  transition: all ease-in-out;
  width: 70%;
}

.form-input:hover{
  background-color: #f0f0f0;
}

.gender-input-conatainer{
  width: 100%;
  position: static;
  bottom: 0;
  margin-bottom: 1.5rem;
  font: rgba(0, 0, 0, 0.644) 1.25rem;
}

.gender-form-input{
  border-radius: 0.25rem;
  border: rgba(128, 128, 128, 0.26) 1px solid;
  font-size: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  color: rgba(0, 0, 0, 0.651);
  transition: all ease-in-out;
  width: 80%;
}

.gender-form-input:hover{
  background-color: #f0f0f0;
}


.calenderIcon {
  position:relative;
  right: 7%;
  font-size: 1.25rem;
  cursor: pointer;
  top: 0.20rem;
  
}

.dob-input-container {
  width: 100%;
  position: relative;
  bottom: 1px;
  font: rgba(0, 0, 0, 0.644) 1.25rem;
  gap: 0px;
}

.dob-form-input {
  border-radius: 0.25rem;
  border: rgba(128, 128, 128, 0.26) 1px solid;
  font-size: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  color: rgba(0, 0, 0, 0.651);
  transition: all ease-in-out;
  width: 60%;
  gap: 0;
}